# List

**Lista Bicicles**

In [6]:
bicycles =['trek','cannondale','redline','specialized']
print(bicycles)
print(bicycles[1])

['trek', 'cannondale', 'redline', 'specialized']
cannondale

**Lista de amigos**

In [7]:
names = ['Alberto', 'Tecchi', 'Adrian', 'Mariana']
for name in names:
    print(name)

print ('Welcome', names[-4])
print('Gracias por visitarnos', names[-3])
print('Good lucky', names[-2])
print('Love you',names[-1])

Alberto
Tecchi
Adrian
Mariana
Welcome Alberto
Gracias por visitarnos Tecchi
Good lucky Adrian
Love you Mariana

**Lista de deseos**

In [8]:
deseos = ['ir a Europa', 'tener un carro del año', 'terminar la unversidad', 'tener un specialized', 'tener una cuatrimoto', 'tener una planta cervecera', 'tener una cafetera slayer', 'tener un departamento de dos niveles', 'tener una empresa', 'ir al Octoberfest','ser toda mi vida feliz','no viajar en el transporte publico', 'ir a muchos conciertos', 'estudiar en otro pais','surfear']
for deseo in deseos:
    print ('Me gustaria',deseo)

Me gustaria ir a Europa
Me gustaria tener un carro del año
Me gustaria terminar la unversidad
Me gustaria tener un specialized
Me gustaria tener una cuatrimoto
Me gustaria tener una planta cervecera
Me gustaria tener una cafetera slayer
Me gustaria tener un departamento de dos niveles
Me gustaria tener una empresa
Me gustaria ir al Octoberfest
Me gustaria ser toda mi vida feliz
Me gustaria no viajar en el transporte publico
Me gustaria ir a muchos conciertos
Me gustaria estudiar en otro pais
Me gustaria surfear

**Modificar elementos de lista**

In [9]:
motorcycles = ['honda', 'yamaha', 'suzuki']

print(motorcycles)

motorcycles[0] = 'ducat'
print(motorcycles)

['honda', 'yamaha', 'suzuki']
['ducat', 'yamaha', 'suzuki']

**Agregar elemento a la lista**

In [10]:
motorcycles = ['honda', 'yamaha', 'suzuki']

print(motorcycles)

motorcycles.append('ducati')

print(motorcycles)

['honda', 'yamaha', 'suzuki']
['honda', 'yamaha', 'suzuki', 'ducati']

**Insertar elementos a  una lista**

In [11]:
motorcycles = ['honda', 'yamaha', 'suzuki']
print(motorcycles)
motorcycles.insert(0, 'ducati')
print(motorcycles)

['honda', 'yamaha', 'suzuki']
['ducati', 'honda', 'yamaha', 'suzuki']

**'del' in List**

In [12]:
motorcycles = ['honda', 'yamaha', 'suzuki']
print(motorcycles)
del motorcycles[0]
print(motorcycles)

['honda', 'yamaha', 'suzuki']
['yamaha', 'suzuki']

 # Funciones

In [13]:
def greet_user():
    """Dipaly a simple greeting"""
    print("Hello!")
greet_user()

Hello!

**Pasar información a una función**

In [14]:
def greet_user(username):
    """Display a simple greeting."""
    print("Hello, " + username.title() + "!")
greet_user('jessie')

Hello, Jessie!

**Positional arguments**

In [15]:
def describe_pet(animal_type, pet_name):
    """Display information about a pet."""
    print("\nI have a " + animal_type + ".")
    print("My " + animal_type + "’s name is " + pet_name.title() + ".")
describe_pet('hamster', 'harry')
describe_pet('dog', 'willie')

I have a hamster.
My hamster’s name is Harry.

I have a dog.
My dog’s name is Willie.

In [16]:
def describe_pet(animal_type, pet_name):
    """Display information about a pet."""
    print("\nI have a " + animal_type + ".")
    print("My " + animal_type + "’s name is " + pet_name.title() + ".")
describe_pet('harry', 'hamster')

I have a harry.
My harry’s name is Hamster.

**Keyword arguments**

In [17]:
def describe_pet(animal_type, pet_name):
    'Display information about a pet'
    print ("\nI have a " + animal_type + '.')
    print ('My ' + animal_type +" 's name is " +pet_name.title()+".")
describe_pet(animal_type='hamster', pet_name="harry")

I have a hamster.
My hamster 's name is Harry.

**Default values**

In [18]:
def describe_pet(pet_name, animal_type='dog'):

    '''Display information about a pet'''
    print("\nI have a " + animal_type + ".")

    print("My " + animal_type + "'s name is " + pet_name.title() + ".")
describe_pet("ned")

I have a dog.
My dog's name is Ned.

# Tarea

**T Shirt**

In [19]:
def make_shirt(tam,tex):
    print ("\nLa Playera será talla: " + tam + "\n con texto: " + tex)
make_shirt (tam='chica', tex='hello :D')

La Playera será talla: chica
 con texto: hello :D

**Playeras grandes**

In [20]:
def make_shirt(tam='grande',tex='I <3 Python'):
    print ("\nLa Playera sera de talla: " + tam + "\n con texto: " + tex)
make_shirt()
make_shirt (tam='mediana y grande', tex='I love chocolate')
make_shirt (tam='chica', tex='Hello friend')

La Playera sera de talla: grande
 con texto: I <3 Python

La Playera sera de talla: mediana y grande
 con texto: I love chocolate

La Playera sera de talla: chica
 con texto: Hello friend

**Country**

In [21]:
def describe_city(city, country):
    print (city.title() + " esta en " + country.title())
describe_city('lima', 'peru')
describe_city('madrid', 'españa')
describe_city('buenos aires', 'argentina')

Lima esta en Peru
Madrid esta en España
Buenos Aires esta en Argentina

# Clases

In [22]:
class Dog():
    #Clase que ayuda a describir un perro
    def __init__(self, name, age):
    #Inicializa los atributos name y age
        self.name = name
        self.age = age

    def sit(self):
        #Simula el comportamiento de un perro al sentarse
        print(self.name.title() + " is now sitting")
    
    def roll_over(self):
        #Simula el comportamiento de un perro al girar
        print(self.name.title() + " ha dado una vuelta")

**Definir un objeto de una clase**

In [23]:
my_dog = Dog('willie',6)
print("My dog’s name is " + my_dog.name.title() + ".")
print("My dog is " + str(my_dog.age) + " years old.")

My dog’s name is Willie.
My dog is 6 years old.

# Tarea

**Restaurant**

In [24]:
class restaurant ():
    def __init__ (self, restaurant_name, cuisine_type, time_open, time_close):
        self.restaurant_name=restaurant_name
        self.cuisine_type=cuisine_type
        self.time_open=time_open
        self.time_close=time_close
    def describe_restaurant(self):
        print ('El restaurante ' + self.restaurant_name.title() + ' trabaja el estilo de comida ' + self.cuisine_type.title() + '.')

    def open_restaurant(self):
        return (self.restaurant_name.title() +  " abre de lunes a domingo de {} hrs. a {} hrs.").format(self.time_open,self.time_close)

one_restaurant=restaurant('the backyard','american',8,23)
print ("Se ha agregado el restaurant " + one_restaurant.restaurant_name.title())
one_restaurant.describe_restaurant()
one_restaurant.open_restaurant()

Se ha agregado el restaurant The Backyard
El restaurante The Backyard trabaja el estilo de comida American.

'The Backyard abre de lunes a domingo de 8 hrs. a 23 hrs.'

**Tres restaurant**

In [25]:
tr=restaurant('pujol','mexican',7,24 )
print ("Se ha agregado el restaurante " + tr.restaurant_name.title())
tr.describe_restaurant()
tr.open_restaurant()

Se ha agregado el restaurante Pujol
El restaurante Pujol trabaja el estilo de comida Mexican.

'Pujol abre de lunes a domingo de 7 hrs. a 24 hrs.'

In [26]:
trr=restaurant('El Celler de Can Roca','libre', 10, 22)
print ("Se ha agregado el restaurante " + trr.restaurant_name.title())
trr.describe_restaurant()
trr.open_restaurant()

Se ha agregado el restaurante El Celler De Can Roca
El restaurante El Celler De Can Roca trabaja el estilo de comida Libre.

'El Celler De Can Roca abre de lunes a domingo de 10 hrs. a 22 hrs.'

In [27]:
fr=restaurant('dulce patria','mexican', 8, 23)
print ("Se ha agregado el restaurante " + fr.restaurant_name.title())
fr.describe_restaurant()
fr.open_restaurant()

Se ha agregado el restaurante Dulce Patria
El restaurante Dulce Patria trabaja el estilo de comida Mexican.

'Dulce Patria abre de lunes a domingo de 8 hrs. a 23 hrs.'

**Usuarios**

In [28]:
class User():
    def __init__(self,first_name,last_name,age_user,number_user):
        self.first_name=first_name
        self.last_name=last_name
        self.age_user=age_user
        self.number_user=number_user
        
    def describe_user(self):
         return ('Se ha creado el usuario {} {} con edad de {} años y numero de cuenta {}').format(self.first_name,self.last_name,self.age_user,self.number_user)
                    
    def gret_user(self):
        print (self.first_name.title(), 'bienvenido a tu cuenta del Politécnico')

p=User('antonio','espinosa', 22, 2020302334)
p.gret_user()

Antonio bienvenido a tu cuenta del Politécnico

In [29]:
p.describe_user()

'Se ha creado el usuario antonio espinosa con edad de 22 años y numero de cuenta 2020302334'

In [42]:
a=User('ricardo','godinez', 24, 19865423)
a.describe_user()

'Se ha creado el usuario ricardo godinez con edad de 24 años y numero de cuenta 19865423'

In [53]:
a.gret_user()

Ricardo bienvenido a tu cuenta del Politécnico

In [43]:
b=User('laura','sánchez', 27, 18960521 )
b.describe_user()

'Se ha creado el usuario laura sánchez con edad de 27 años y numero de cuenta 18960521'

In [54]:
b.gret_user()

Laura bienvenido a tu cuenta del Politécnico

In [44]:
c=User('mariana', 'hernadez', 21, 2183055121)
c.describe_user()

'Se ha creado el usuario mariana hernadez con edad de 21 años y numero de cuenta 2183055121'

In [56]:
c.gret_user()

Mariana bienvenido a tu cuenta del Politécnico

In [45]:
d=User('daneli', 'lailson',25, 19850613)
d.describe_user()

'Se ha creado el usuario daneli lailson con edad de 25 años y numero de cuenta 19850613'

In [57]:
d.gret_user()

Daneli bienvenido a tu cuenta del Politécnico

In [46]:
e=User('daniela', 'diaz', 23, 20430586)
e.describe_user()

'Se ha creado el usuario daniela diaz con edad de 23 años y numero de cuenta 20430586'

In [58]:
e.gret_user()

Daniela bienvenido a tu cuenta del Politécnico

In [47]:
f=User('fedra','lopez',22, 19800527)
f.describe_user()

'Se ha creado el usuario fedra lopez con edad de 22 años y numero de cuenta 19800527'

In [59]:
f.gret_user()

Fedra bienvenido a tu cuenta del Politécnico

In [48]:
g=User('Claudia','Reyes',49, 70889098)
g.describe_user()

'Se ha creado el usuario Claudia Reyes con edad de 49 años y numero de cuenta 70889098'

In [60]:
f.gret_user()

Fedra bienvenido a tu cuenta del Politécnico

In [49]:
h=User('natalia', 'gomez', 20, 2183053162)
h.describe_user()

'Se ha creado el usuario natalia gomez con edad de 20 años y numero de cuenta 2183053162'

In [61]:
h.gret_user()

Natalia bienvenido a tu cuenta del Politécnico

In [50]:
i=User('Christian', 'orlando', 24, 96012309)
i.describe_user()

'Se ha creado el usuario Christian orlando con edad de 24 años y numero de cuenta 96012309'

In [62]:
i.gret_user()

Christian bienvenido a tu cuenta del Politécnico

In [52]:
j=User('fernando', 'lopez', 15, 17711343)
j.describe_user()

'Se ha creado el usuario fernando lopez con edad de 15 años y numero de cuenta 17711343'

In [63]:
j.gret_user()

Fernando bienvenido a tu cuenta del Politécnico